#mainTitleText {
    background-color: aqua;
    color: hotpink;
}

.form-control {
    width: 35%;
}

.mankala {
    border: black dashed thin;
    background-color: burlywood;
    color: black;
    border-radius: 50px;
    height: 95%;
    width: 200px;
    text-align: center;
    padding: 0.3%;
    line-height: 800%;
    /*a*/
}

.pit {
    background-color: sienna;
    color: white;;
}

.playerBoard{
    border: 5px solid orange;
}
.focus{
    box-shadow: 0 0 0 10px #090;
}
